article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: calc(100vw - 48px);
  justify-content: center;
  grid-gap: 20px;
  width: 1200px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 56px - 56px);
}
.card-img {
  width: 100%;
  height: 460px;
}
.card-text {
  text-align: center;
}
.loadmore {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.singlePage {
  padding: 50px 0;
}
.singleWrapper {
  display: flex;
  padding: 25px;
  border: 2px solid black;
}
.singleImg {
  width: 350px;
  height: 400px;
}
.singleGenres {
  display: flex;
  align-items: center;
  gap: 20px;
}

.singleInner {
  margin-left: 30px;
}
.btn-click {
  color: white;
  display: flex;
}
.btn-review {
  margin-left: 30px;
}
.castList {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  grid-auto-rows: minmax(auto, auto);
  justify-content: center;
  grid-gap: 20px;

  padding: 40px 0;
  margin-top: 30px;
  margin-bottom: 30px;

  height: 500px;
  border: 3px solid tomato;
  overflow-y: scroll;
}
.castItem {
  border: 3px solid black;
}
.castImg {
  width: 100%;
  height: 300px;
}
.castTitle {
  margin: 10px 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.reviewsList {
  border: 2px solid tomato;
  padding: 22px;
  overflow-y: scroll;
  height: 450px;
}
